<div class="products">
    <ul>
        <li *ngFor="let product of products">
            <a>
                <img src="{{product.imageUrl}}" alt="{{product.name}} [image not found]">
                <div id="name">
                    {{product.name}} 
                </div>
                <div id="price">
                    {{product.price | currency:"INR":"symbol"}} per unit of ({{product.quantity}} {{product.quantityType}})<br>
                </div>
                <div id="desc">
                    {{product.description}}
                </div>
                <div id="cart">
                    <button (click)="addToCart(product)" class="babge babge-warning mr-2">Add To Cart </button>
                    <!-- <a (click)="addToCart(product)" class="babge babge-warning mr-2"></a> -->
                </div>
            </a>
        </li>
    </ul>
</div>