.alert{
    margin-bottom: 0rem;
}
/* *{
    box-sizing: border-box;
} */
/* body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
} */
/* a{
    text-decoration: none;
} */